.nav-item {
  list-style: none;
  width: auto;
}
.nav-item-li {
  margin-top: 20px;
  margin-left: -25px;
}
.nav-item-span {
  background-color: #9d71e7;
  padding: 10px;
  width: 80%;
  cursor: pointer;
  border-radius: 10px;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
.navtitle{
  font-size: 16px;
}
.nav-sub-items {
  display: none;
  list-style: none;
}
.item {
  margin-top: 10px;
}
.action {
  display: block;
  padding-left: 20px;
}

a {
  text-decoration: none;
}

.expandIcon {
  transform: rotate(180deg);
}

