.head-container {
  width: 100%;
  height: 60px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 20px 0 grey;
  position: fixed;
  top: 0;
  z-index: 100;
}
.head {
  height: 50px;
  display: flex;
  align-items: center;
}
.head h1 {
  margin-left: 30px;
  color: #4d084da2;
}
.search-input {
  height: 40px;
  width: 400px;
  border-color: #efefee;
  border-radius: 20px;
  margin-left: 30px;
}

.usernav {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 20px;
  border-radius: 10px;
  background-color: #a836a8a2;
  gap: 10px;
}

.usernav-details p {
  margin: 3px;
}

.moreOption{
  cursor: pointer;
}
