.content {
  background-color: #363434;
}
.main-layout {
  display: flex;
  position: relative;
  margin-top: 60px;
}
.side-content {
  width: 20%;
  height: 100vh;
  background-color: #363434;
}
.side-enable {
  width: 60%;
  height: 100vh;
  position: absolute;
  
  background-color: #363434;
}
.outlet-layout {
  width: 80%;
  padding: 20px;
  background-color: #272625;
}

@media only screen and (max-width: 840px)  {

  .side-content {
    display: none;
   
  }
  .side-enable {
    height: 100vh;
    z-index: 2;
  }
  .outlet-layout {
    width: 100%;
  }
}
@media only screen and (min-width: 840px)  {

  .side-enable {
    display: none;
  }
  .outlet-layout {
    width: 100%;
  }
}

@media only screen and (min-width: 680px) and (max-width: 860px) {
  .side-content {
    width: 23%;
  }
 
}
